<div class="container" style="min-height: 600px;">

  <div class="edit">

    <div class="row">
      <h5 class="heading">会員情報編集</h5>
    </div>

    <%= form_with model: @customer, url: customer_path, local: true do |f| %>
      <%= render "layouts/errors", obj: @customer %>

      <div class="row my-5 py-5">
        <div class="col-4 text-right"><%= f.label "メールアドレス", class:"w-100" %></div>
        <div class="col-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"w-100" %></div>
        <div class="col-4"><%= f.submit "編集内容を保存する", class:"btn btn-success" %></div>
      </div>

      <div class="row my-5 py-5">
        <div class="mx-auto">
          <%= link_to "退会する", customer_confirm_unsubscribe_path(@customer), class:"btn btn-lg btn-danger" %>
        </div>
      </div>

    <% end %>
  </div>
</div>