<div class="container">
  <div class="notice"><%= flash[:notice] %></div>

  <div class="row">
    <h5 class="heading">マイページ</h5>
  </div>

  <div class="row">
    <table class="table">
      <tr align="center">
        <td>共感数</td>
        <td><%= @sympathies_count %></td>
        <td rowspan="2" style="vertical-align: middle;">
        <!--rowspan:縦方向の結合-->
          <%= link_to notifications_path, class: "expand link" do %>
            <% if unchecked_notifications.any? %>
              <div class="notification">
                <%= image_tag("notification.png", size:"20x20") %>
                <div class="uncheck"></div>
              </div>
            <% else %>
              <%= image_tag("notification.png", size:"20x20") %>
            <% end %>
            <span>通知一覧へ</span>
          <% end %>
        </td>
      </tr>
      <tr align="center">
        <td>応援数</td>
        <td><%= @cheers_count %></td>
      </tr>
      <tr align="center">
        <td>会員情報（メールアドレス）</td>
        <td><%= @customer.email %></td>
        <td><%= link_to "編集する", edit_customer_path, class:"btn btn-secondary" %></td>
      </tr>
      <tr align="center">
        <td>非表示にした投稿者数</td>
        <td><%= @customer.mutings.count %></td>
        <td>
          <%= link_to customer_mutings_path(@customer), class: "expand link" do %>
            <%= image_tag("mute.png", size:"20x20") %>
            <span>非表示にした投稿一覧へ</span>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <h5 class="heading">投稿数の前日比・前週比</h5>
  </div>

  <div class="row">
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @today_post.count %></td>
          <td><%= @yesterday_post.count %></td>
          <td>
          <% if @yesterday_post.count == 0 %>
            前日の投稿が0のため計算できません
          <% else %>
            <% @the_day_before =   @today_post.count / @yesterday_post.count.to_f  %>
            <%= (@the_day_before * 100).round %>%
          <% end %>
          </td>
          <td><%= @this_week_post.count %></td>
          <td><%= @last_week_post.count %></td>
          <td>
          <% if @last_week_post.count == 0 %>
            前週の投稿が0のため計算できません
          <% else %>
            <% @the_week_before = @this_week_post.count / @last_week_post.count.to_f  %>
            <%= (@the_week_before * 100).round %>%
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h5 class="heading">7日間分の投稿数</h5>
  </div>

  <div class="row">
    <table class='table table-bordered'>
      <thead>
        <tr>
          <th>６日前</th>
          <th>５日前</th>
          <th>４日前</th>
          <th>３日前</th>
          <th>２日前</th>
          <th>１日前</th>
          <th>今日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @posts.created_6day_ago.count %></td>
          <td><%= @posts.created_5day_ago.count %></td>
          <td><%= @posts.created_4day_ago.count %></td>
          <td><%= @posts.created_3day_ago.count %></td>
          <td><%= @posts.created_2day_ago.count %></td>
          <td><%= @posts.created_yesterday.count %></td>
          <td><%= @posts.created_today.count %></td>
        </tr>
      </tbody>
    </table>
    <canvas id="myLineChart"></canvas>
    <!--canvas要素は、グラフィックなどが描写可能なビットマップキャンバスを提供-->
    <script>
      $(document).on('turbolinks:load', function() {
        // Ajaxによるページ遷移の高速化のためのライブラリ
        // ページの読み込み時	window.onLoadの代替として利用
        var ctx = document.getElementById("myLineChart");
        // canvas要素（id = myLineChart） を取得し、変数 ctx に入力
        var myLineChart = new Chart(ctx, {
          // 描画するグラフを、new Chart()によって設定
          type: 'line',
          // 描画するグラフの種類
          data: {
            labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
            datasets: [
              {
                label: '投稿の数',
                data: [<%= @posts.created_6day_ago.count %>, <%= @posts.created_5day_ago.count %>, <%= @posts.created_4day_ago.count %>, <%= @posts.created_3day_ago.count %>, <%= @posts.created_2day_ago.count %>, <%= @posts.created_yesterday.count %>, <%= @posts.created_today.count %>],
                borderColor: "rgba(0,0,255,1)",
                // 折れ線グラフの線の色
                backgroundColor: "rgba(0,0,0,0)"
                // 線の下の塗りつぶしの色
              }
            ],
          },
          options: {
            title: {
              display: true,
              // タイトル表示の可否
              text: '7日間の投稿数の比較'
            },
            scales: {
              // グラフ軸の詳細（最大値・最小値・刻み幅など）
              yAxes: [{
                // y軸の設定
                ticks: {
                  // 項目を設定
                  suggestedMax: 10,
                  // 軸の最大値
                  suggestedMin: 0,
                  // 軸の最大値
                  stepSize: 1,
                  // 軸の刻み幅
                  callback: function(value, index, values){
                    // 軸のラベル
                    return  value
                    // 戻り値(プログラムや関数からの返却値)
                  }
                }
              }]
            },
          }
        });
      });
    </script>
  </div>

  <div class="row">
    <div class="heading">
      <h5>指定日の記録(投稿数)</h5>
    </div>
  </div>

  <div class="row">
    <div class="ml-3">
      <%= form_with url: customer_search_path(@customer), method: :get do |f| %>
        <%= f.date_field :created_at %>
        <!--年、月、日等のテキストフィールドが１つにまとまっており、カレンダー入力ができるようになっている-->
        <%= f.submit '検索', class: 'btn btn-sm btn-primary' %>
      <% end %>
      <div id="search_result">
        <% if @search_post.present? %>
          <%= render 'search', search_post: @search_post %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <h5 class="heading">投稿履歴</h5>
  </div>

  <div class="row mt-3">
    <div class="col">
      <%= render "public/posts/index", posts: @posts %>
    </div>
  </div>

</div>