<div class="contact">
  <div class="container">

    <div class="row">
      <h5 class="heading">お問合せ内容確認</h5>
    </div>

    <div class="row my-3 py-3">
      <table class="table">
        <tbody>
          <tr>
            <td class="text-center">お名前</td>
            <td><%= @contact.name %></td>
          </tr>
          <tr>
            <td class="text-center">電話番号</td>
            <td><%= @contact.phone_number %></td>
          </tr>
          <tr>
            <td class="text-center">返信用メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>
          <tr>
            <td class="text-center">メッセージ</td>
            <td style="white-space: pre-wrap;"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row py-5">
      <div class="col-6" align="center">
        <%= form_for @contact, url: back_path do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '入力画面に戻る', class: "btn btn-dark" %></div>
        <% end %>
      </div>
      <div class="col-6" align="center">
        <%= form_for(@contact) do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :phone_number %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <div><%= f.submit '送信', class: "btn btn-success" %></div>
        <% end %>
      </div>
    </div>

  </div>
</div>
