<table class='table'>
  <tbody>
  <% if posts.present? %>
    <% posts.each do |post| %>
      <% unless current_customer.muting?(post.customer) %>
      <!--ミュートにしたユーザーが投稿したものを非表示に-->
        <tr id="post_<%= post.id %>">
          <td>
            <div class="expand-image_<%= post.id %> expand-image">
              <!--_<#%= post.id %>をつけることでIDをつけて識別できるように-->
              <!--でないと全て同じ画像になる-->
              <%= attachment_image_tag(post, :image, :fill, 50, 50) %>
            </div>
            <div class="modal_<%= post.id %> modal">
          　　<div class="big-img_<%= post.id %> big-img">
          　　    <%= attachment_image_tag(post, :image, :fill, 800, 800) %>
          　　</div>
          　　<p class="close-btn"><a href="">✖</a></p>
            </div>
          </td>
          <td>
            <p class="text"><%= post.text.truncate(100) %></p>
            <!--truncate():文字数制限-->
            <p class="sentiment-score">本文の感情分析スコア[<%= post.score %>]</p>
            <div class="create-time"><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></div>
            <div class="sm-tag-heading"><%= post.category.name %></div>
          </td>
          <% if post.customer == current_customer %>
            <td>
              <%= button_to edit_post_path(post) do %>
                <div class="ballon">
                  <%= image_tag("edit.png", size:"30x30", class: "expand") %>
                  <span class="ballon-text">編集する</span>
                </div>
              <% end %>
            </td>
            <td>
              <%= button_to post_path(post), method: :delete, data: { confirm: '本当に消しますか？' } do %>
                <div class="ballon">
                  <%= image_tag("delete.png", size:"30x30", class: "expand") %>
                  <span class="ballon-text">削除する</span>
                </div>
              <% end %>
            </td>
          <% else %>
            <td class="sympathy-btn"><%= render "public/sympathies/sympathy-btn", post: post %></td>
            <td class="cheer-btn"><%= render "public/cheers/cheer-btn", post: post %></td>
            <td>
              <%= button_to customer_relationships_path(post.customer.id), method: :post do %>
                <div class="ballon">
                  <%= image_tag("mute.png", size:"30x30", class: "expand") %>
                  <span class="ballon-text">非表示にする</span>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <h2 style="text-align: center; padding-top: 30px;">検索に合致するものはありません</h2>
  <% end %>
  </tbody>
</table>

<script>
  // 画像拡大
<% posts.present? && posts.each do |post| %>
// scriptでもル-プ処理をしないと同じIDにならない
$(function() {
  $('.expand-image_<%= post.id %>').click(function() {
      $('.big-img_<%= post.id %>').css('display', 'block')
      // display: none;をblockに変更する
    $('.modal_<%= post.id %>').fadeIn();
    $('body,html').css('overflow-y', 'hidden');
    // 画像が画面からはみ出る場合は非表示にする。画面のブレ防止のため。
    return false
  });
  $('.close-btn').click(function() {
    $('.modal_<%= post.id %>').fadeOut();
    $('body,html').css('overflow-y', 'visible');
    return false
  });
})
<% end %>
</script>