<%= render 'layouts/errors', obj: @post %>

<div class="container mt-5 mb-5">
  <div class="row mb-4">
    <h5 class="two-line-heading">新規商品登録</h5>
  </div>

  <%= form_with model: @post, url:posts_path, local: true do |f| %>

    <div class="form_group row ml-10 mb-2">
      <%= f.label :IMAGE, class:"col-sm-2 col-form-label" %>
        <div class="col-sm-10">
      　   <%= f.attachment_field :image %>
        </div>
  　</div>

    <div class="form_group row ml-10 mb-2">
      <%= f.label :TEXT, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.text_area :text, size:"60x10" %>
      </div>
  　 </div>

    <div class="form_group row ml-10 mb-2">
      <%= f.label :カテゴリー, class:"col-sm-2 col-form-label"%>
      <div class="col-sm-10">
        <%= f.collection_select :category_id, Category.all, :id, :name %>
      </div>
  　</div>

    <div class="col text-center">
      <%= f.submit '投稿', class:"btn-flat-success"%>
    </div>
  <% end %>
</div>