<div class="top-bg">
  <div class="container">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <div class="row">
      <div class="mx-auto">
        <div class="top-message">
          <p>welcome to <strong>RELEASE</strong> !</p>
          <p>ここはあなたのためだけのコミュニティです!</p>
        </div>
        <div class="btn-wrapper col-12 mx-auto">
          <% if customer_signed_in? %>
            <div class="row">
              <%= link_to "ログイン", posts_path, class: 'btn btn-outline-info btn-lg btn-block mb-3 sign_in' %>
            </div>
            <div class="row">
              <%= link_to "新規登録", posts_path, class: 'btn btn-outline-success btn-lg btn-block sign_up' %>
            </div>
          <% else %>
            <div class="row">
              <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-info btn-lg btn-block mb-3' %>
            </div>
            <div class="row">
              <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-success btn-lg btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>