<div class="container" style="min-height: 500px;">

  <div class="row">
    <h5 class="heading">会員情報編集</h5>
  </div>

  <div class="row mt-5">
    <div class="mx-auto" style="width: 80%;">
    <%= render 'layouts/errors', obj: @customer %>
    <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr style="height: 50px;" align="center">
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr align="center">
            <td><%= f.label :メールアドレス %></td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr align="center">
            <td><%= f.label :会員ステータス %></td>
            <td><%= f.radio_button :is_active, "true" %>有効  <%= f.radio_button :is_active, "false" %>退会</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= f.submit '変更を保存する', class: "btn btn-success" %>
    <% end %>
    </div>
  </div>

</div>