<div class="container" style="min-height: 600px;">
  <div class="notice"><%= flash[:notice] %></div>

  <div class="row">
    <h5 class="heading">会員一覧</h5>
  </div>

  <div class="row my-1">
    <h5 class="mini-heading mr-5">メールアドレス検索</h5>
    <div class="search mt-3 ml-3">
      <%= form_with url: admin_customers_path, method: :get, class: "search__form" do |f| %>
        <%= f.text_field :keyword, required: true, class: "search__form__input searchTerm" %>
        <button type="submit" class="searchButton">
        <%= image_tag 'seach.png', size:"20x20" %>
        </button>
      <% end %>
    </div>
  </div>

  <div class="row my-3">
    <div class="mx-auto">
      <div id="index">
        <%= render "admin/customers/index", customers: @customers %>
      </div>
      <%= paginate @customers %>
    </div>
  </div>

</div>