<% if post.cheered_by?(current_customer) %>
  <%= button_to post_cheers_path(post), method: :delete, remote: true do %>
    <div class="ballon">
      <%= image_tag("cheer.png", size:"30x30", class: "expand") %>
      <span class="ballon-text">応援をやめる</span>
    </div>
  <% end %>
  <span style="padding-left: 10px;"><%= post.cheers.count %></span>
<% else %>
  <%= button_to post_cheers_path(post), method: :post, remote: true do %>
    <div class="ballon">
      <%= image_tag("no-cheer.png", size:"30x30", class: "expand") %>
      <span class="ballon-text">応援する</span>
    </div>
  <% end %>
  <span style="padding-left: 10px;"><%= post.cheers.count %></span>
<% end %>

