<table class='table'>
  <tbody>
  <% if @posts.present? %>
    <% @posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td><%= post.category.name %></td>
          <td>
            <div class="expand-image" data-image-url="<%= attachment_url(post, :image, :fill, 700, 700) %>">
              <%= attachment_image_tag(post, :image, :fill, 50, 50) %>
            </div>
          </td>
          <div class="modal">
        　　<div class="big-img"><img src="" alt=""></div>
        　　<p class="close-btn"><a href="">✖</a></p>
          </div>
          <td class="text"><p><%= post.text.truncate(100) %></p></td>
          <td><%= link_to '削除する', admin_post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        </tr>
    <% end %>
  <% else %>
    <pclass="mx-auto white">検索に合致するものはありません</p>
  <% end %>
  </tbody>
</table>