<div class="container pt-3">

  <div class="bg-video1">
    <%= video_tag("/videos/authentication.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
    <!--autoplay => true 自動再生を有効-->
    <!--loop => true 繰り返し再生-->
    <!--muted: => true 音を出さないように指定-->
    <p>SIGN UP</p>
  </div>

  <%= form_with model: @customer, url: customer_registration_path, class:"contact-form", local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <% if flash[:danger] %>
    <p class="text-red"><%= flash[:danger] %></p>
  <% end %>

  <div class="row">
    <div class="col-8 mx-auto col-lg-5 form-field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-text form-js-input" %>
      <!--autocomplete:過去の入力履歴を参照し、先頭の文字列から残りの文字列を予測して表示-->
      <%= f.label :emai, "メールアドレス", class: "label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto col-lg-5 form-field">
      <%= f.password_field :password, autocomplete: "new-password", class:"input-text form-js-input" %>
      <%= f.label :password, "パスワード(6文字以上)", class:"label" %>
    </div>
  </div>

  <div class="row">
    <div class="col-8 mx-auto col-lg-5 form-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-text form-js-input" %>
      <%= f.label :password_confirmation, "パスワード(確認用)", class:"label" %>
    </div>
  </div>

    <div class="row mt-5 mb-5 form-field">
      <%= f.submit "Signup", class:"col-3 mx-auto col-lg-2 submit-btn" %>
    </div>
  <% end %>

  <div class="row mt-3">
    <div class="col-xs-6 mx-auto">
      <h2 class="section-ttl">既に登録済みの方</h2>
      <p><%= link_to "こちら", new_customer_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>

  <div class="row mt-2 pb-5">
    <div class="col-12 text-center"><%= render "public/shared/links" %></div>
  </div>

</div>