<div class="container">
  <%= render 'layouts/errors', obj: @category %>
  <div class="row">
      <h5 class="heading">カテゴリー一覧</h5>
  </div>

  <div class="row">
    <div class="mini-heading"><h5>カテゴリー追加</h5></div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= form_with model: @category, url: admin_categories_path, class:"form-inline", local: true do |f| %>
        <%= f.label :name, "カテゴリー名", class:"form-group ml-1" %>
        <%= f.text_field :name, class:"form-group ml-5", placeholder: "カテゴリー名" %>
        <%= f.submit '追加', class:'btn btn-success ml-2' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="mini-heading"><h5>カテゴリー一覧</h5></div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>カテゴリー名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td class="text-center"><%= link_to "編集", edit_admin_category_path(category.id), class:"btn btn-secondary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>