<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <% if admin_signed_in? %>
      <a class="navbar-brand" href="admin_posts_path">
        <%= image_tag 'logo.png', size:"350x100" %>
      </a>
    <% else %>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', size:"350x100" %>
      </a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if admin_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="admin_posts_path">
              <%= image_tag 'post.png', size:"20x20" %>
              投稿一覧
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_customers_path">
              <%= image_tag 'customers.png', size:"20x20" %>
              会員一覧
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="admin_categories_path" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag 'category.png', size:"20x20" %>
              カテゴリー一覧
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="destroy_admin_session_path">
              <%= image_tag 'log_out.png', size:"20x20" %>
              ログアウト
            </a>
          </li>
        </ul>
      <% elsif customer_signed_in? %>
        <ul class="flex gNav-menu">
          <li class="list-unstyled menu-list">
            <%= link_to homes_about_path, class: 'text-dark expand' do %>
              <%= image_tag 'about.png', size:"20x20" %>
              ABOUT
            <% end %>
          </li>
          <li class="list-unstyled menu-list">
            <%= link_to posts_path, class: 'text-dark expand' do %>
              <%= image_tag 'post.png', size:"20x20" %>
              投稿一覧
            <% end %>
          </li>
          <li class="list-unstyled menu-list">
            <%= link_to mypage_path, class: 'text-dark expand' do %>
              <%= image_tag 'my_page.png', size:"20x20" %>
              マイページ
            <% end %>
          </li>
          <li class="list-unstyled menu-list">
            <%= link_to destroy_customer_session_path, method: :delete, class: 'text-dark expand' do %>
              <%= image_tag 'log_out.png', size:"20x20" %>
              ログアウト
            <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="flex gNav-menu">
          <li class="list-unstyled menu-list">
            <%= link_to homes_about_path, class: 'text-dark expand' do %>
              <%= image_tag 'about.png', size:"20x20" %>
              ABOUT
            <% end %>
          </li>
          <li class="list-unstyled menu-list">
            <%= link_to new_customer_registration_path, class: 'text-dark expand' do %>
              <%= image_tag 'sign_up.png', size:"20x20" %>
              新規登録
            <% end %>
          </li>
          <li class="list-unstyled menu-list">
            <%= link_to new_customer_session_path, class: 'text-dark expand' do %>
              <%= image_tag 'log_in.png', size:"20x20" %>
              ログイン
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
