<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <% if admin_signed_in? %>
      <a class="navbar-brand" href="admin_posts_path">
        <%= image_tag 'logo.png', size:"350x100" %>
      </a>
    <% else %>
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.png', size:"350x100" %>
      </a>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if admin_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/admin/posts">
              <%= image_tag 'post.png', size:"20x20" %>
              投稿一覧
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/admin/customers">
              <%= image_tag 'customers.png', size:"20x20" %>
              会員一覧
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/admin/categories">
              <%= image_tag 'category.png', size:"20x20" %>
              カテゴリー一覧
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/admin/sign_out" data-method="delete">
              <%= image_tag 'log_out.png', size:"20x20" %>
              ログアウト
            </a>
          </li>
        </ul>
      <% elsif customer_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/homes/about">
              <%= image_tag 'about.png', size:"20x20" %>
              ABOUT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/posts">
              <%= image_tag 'post.png', size:"20x20" %>
              投稿一覧
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/customers/mypage">
              <%= image_tag 'my_page.png', size:"20x20" %>
              マイページ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/customers/sign_out" data-method="delete">
              <%= image_tag 'log_out.png', size:"20x20" %>
              ログアウト
            </a>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/homes/about">
              <%= image_tag 'about.png', size:"20x20" %>
              ABOUT
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/customers/sign_in">
              <%= image_tag 'log_in.png', size:"20x20" %>
              ログイン
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark expand" href="/customers/sign_up">
              <%= image_tag 'sign_up.png', size:"20x20" %>
              新規登録
            </a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
