<!DOCTYPE html>
<html>
  <head>
    <title>RELEASE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
        <% if admin_signed_in? %>
          <%= link_to admin_posts_path do %><%= image_tag 'logo.png', size:"100x100" %><% end %>
        <% else %>
          <%= link_to root_path do %><%= image_tag 'logo.png', size:"100x100" %><% end %>
        <% end %>
        <% if admin_signed_in? %>
          <ul class="flex">
            <li><%= link_to '投稿一覧', admin_posts_path %></li>
            <li><%= link_to '会員一覧', admin_customers_path %></li>
            <li><%= link_to 'カテゴリー一覧', admin_categories_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
        <% elsif customer_signed_in? %>
          <ul class="flex">
            <li><%= link_to 'ABOUT', homes_about_path %></li>
            <li><%= link_to '投稿一覧', posts_path %></li>
            <li><%= link_to 'マイページ', mypage_path %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <ul class="flex">
            <li><%= link_to 'ABOUT', homes_about_path %></li>
            <li><%= link_to '新規登録', new_customer_registration_path %></li>
            <li><%= link_to 'ログイン', new_customer_session_path %></li>
          </ul>
        <% end %>
        </div>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container"></div>
        <div class="row">
        <% if admin_signed_in? %>
          <p>管理者</p>
        <% else %>
          <p>お問合せは</p><%= link_to "こちら",new_contact_path %>
        <% end %>
      </div>
    </footer>

  </body>

</html>